<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <h1>Tajaye Fanus</h1>
    <p>I am an individual who is passionate about technology. It is my intention to become a cloud-based web developer/python developer. In particular, I would like to, on a professional level, build and maintain python and web applications while using cloud
        technologies to host these applications.</p>

</body>

</html>